@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap");
:root {
  --card-width: 450px;
  --card-height: 300px;
  --card-transition-duration: 800ms;
  --card-transition-easing: ease;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.sliderr{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
body{
  
    width: 100%;
    height: 100vh;
    background: #372948;
}
html{
    font-size: 63.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

header{
    position: relative;
    top: 0; left: 0; right: 0;
    background: #271D39;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}
.logo{
    position: absolute;
    top: 0; left: 0; right: 0;
    background: #271D39;
    display: block;
    width: 364px;
    height: 82px;
}
.navg{
    position: absolute;
    top: 0; left: 363.82px; right: 0;
    height: 82px;
}
.navigation_top{
    padding: 0px 8px 0px 0px;
    height: 45%;
    box-sizing: content-box;
    background: #271D39;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}
.butt
{
    background-color: #FFECEF;
    border-radius: 3px;
    border: none;  
    padding: 3px;
    margin: 1.5px;
}
.butt:hover
{
  border-style: double;
  border-color: #b97cf3;
  margin: 0px;
  padding: 1.5px;
}
.acc_icon
{
    height: 20px;
    margin: 0.3vw;
}
.button
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-right: 5px;
}
.navigation_bottom{
    height: 55%;
    box-sizing: content-box;
    top: 0; left: 0; right: 0;
    display: flex;
    background: linear-gradient(90deg, #271D39 0%, #FFECEF 70.83%);
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    font-size: 24px;
    
}
.navs
{
    display: flex;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    padding: 0% 4%;
    height: 100%;
    color: #271D39;
    border-radius: 0px 0px 0px 0px;
    transform: skew(40deg);
    position: relative;
    right: -2.7%;
    border-left: solid;
    box-shadow: -4px 1px 2px rgb(0 0 0 / 53%);
}
.navs_ele
{
  transform: skew(-40deg)
}
.navs:hover
{
    background-color: #271D39;
    color: #fff;
    border-color: #271D39;
    transition: 0.5s;
}
  
#search_icon
{
    height: 35px;
}

.footul{
    position: relative;
    height: 45px;
    bottom: 0; left: 0; right: 0;
    background: #271D39;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    box-shadow: 0px -5px 5px rgba(0, 0, 0, .2);
}

.sliderr{
    height: 70vh;
    position: relative;
    top: 80px;
}
.whiteboard{
    height: 200vh;
    background: white;
    position: relative;
    top: 80px;
    margin: 40px;
    border-radius: 83px 83px 0px 0px;
}
.footlink{
    padding: 8px;
    color: #FFECEF;
    font-size: medium;
    text-decoration: none;
}

ul li{
    display:inline-block; 
    padding:0 7px; 
    position:relative;
}
ul li:not(:last-child)::after{
    content:""; 
    border:1px solid #e2e2e2;
    border-width: 1px 1px 0 0;
    position:absolute; 
    right:-3px; 
    top:0; 
    height:100%;
}
.navigation_bottom{
    display: flex;
}

.button-default {
    position: absolute;
    border: solid;
    display: block;
    background-color: transparent;
    color: #fff;
    font-size: 10vh;
    transform: skewX(-30deg) translateX(-50%);
    cursor: default;
}

.button-inner {
    display: block;
    transform: skewX(30deg);
}

button {
  border: none;
  background: none;
  cursor: default;
}
button:focus {
  outline: none;
  border: none;
}

.app {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -5;
  filter: blur(8px);
  pointer-events: none;
  user-select: none;
  overflow: hidden;
}
.app__bg::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 1;
  opacity: 0.8;
}
.app__bg__image {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) translateX(var(--image-translate-offset, 0));
  width: 180%;
  height: 180%;
  transition: transform 1000ms ease, opacity 1000ms ease;
  overflow: hidden;
}
.app__bg__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.app__bg__image.current--image {
  opacity: 1;
  --image-translate-offset: 0;
}
.app__bg__image.previous--image, .app__bg__image.next--image {
  opacity: 0;
}
.app__bg__image.previous--image {
  --image-translate-offset: -25%;
}
.app__bg__image.next--image {
  --image-translate-offset: 25%;
}

.cardList {
  position: absolute;
  width: calc(3 * var(--card-width));
  height: auto;
}
.cardList__btn {
  --btn-size: 35px;
  width: var(--btn-size);
  height: var(--btn-size);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
}
.cardList__btn.btn--left {
  left: -5%;
}
.cardList__btn.btn--right {
  right: -5%;
}
.cardList__btn .icon {
  width: 100%;
  height: 100%;
}
.cardList__btn .icon svg {
  width: 100%;
  height: 100%;
}
.cardList .cards__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 1000px;
}

.card {
  --card-translateY-offset: 100vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) translateX(var(--card-translateX-offset)) translateY(var(--card-translateY-offset)) rotateY(var(--card-rotation-offset)) scale(var(--card-scale-offset));
  display: inline-block;
  width: var(--card-width);
  height: var(--card-height);
  transition: transform var(--card-transition-duration) var(--card-transition-easing);
  user-select: none;
}
.card::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 1;
  transition: opacity var(--card-transition-duration) var(--card-transition-easing);
  opacity: calc(1 - var(--opacity));
}
.card__image {
  position: relative;
  width: 100%;
  height: 100%;
}
.card__image img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card.current--card {
  --current-card-rotation-offset: 0;
  --card-translateX-offset: 0;
  --card-rotation-offset: var(--current-card-rotation-offset);
  --card-scale-offset: 1.2;
  --opacity: 0.8;
}
.card.previous--card {
  --card-translateX-offset: calc(-1 * var(--card-width) * 1.1);
  --card-rotation-offset: 20deg;
}
.card.next--card {
  --card-translateX-offset: calc(var(--card-width) * 1.1);
  --card-rotation-offset: -20deg;
}
.card.previous--card, .card.next--card {
  --card-scale-offset: 0.9;
  --opacity: 0.4;
}

.infoList {
  position: absolute;
  width: calc(3 * var(--card-width));
  height: var(--card-height);
  pointer-events: none;
}
.infoList .info__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  perspective: 1000px;
  transform-style: preserve-3d;
}

.info {
  margin-bottom: calc(var(--card-height) / 8);
  margin-left: calc(var(--card-width) / 1.5);
  transform: translateZ(2rem);
  transition: transform var(--card-transition-duration) var(--card-transition-easing);
}
.info .text {
  position: relative;
  font-family: "Montserrat";
  font-size: calc(var(--card-width) * var(--text-size-offset, 0.2));
  white-space: nowrap;
  color: #fff;
  width: fit-content;
}
.info .name,
.info .location {
  text-transform: uppercase;
}
.info .location {
  font-weight: 800;
}
.info .location {
  --mg-left: 40px;
  --text-size-offset: 0.12;
  font-weight: 600;
  margin-left: var(--mg-left);
  margin-bottom: calc(var(--mg-left) / 2);
  padding-bottom: 0.8rem;
}
.info .location::before, .info .location::after {
  content: "";
  position: absolute;
  background: #fff;
  left: 0%;
  transform: translate(calc(-1 * var(--mg-left)), -50%);
}
.info .location::before {
  top: 50%;
  width: 20px;
  height: 5px;
}
.info .location::after {
  bottom: 0;
  width: 60px;
  height: 2px;
}
.info .description {
  --text-size-offset: 0.065;
  font-weight: 500;
}
.info.current--info {
  opacity: 1;
  display: block;
}
.info.previous--info, .info.next--info {
  opacity: 0;
  display: none;
}
@media only screen and (min-width: 800px) {
  :root {
    --card-width: 450px;
    --card-height: 300px;
  }
}
.support {
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 10px;
  display: flex;
}
.support a {
  margin: 0 10px;
  color: #fff;
  font-size: 1.8rem;
  backface-visibility: hidden;
  transition: all 150ms ease;
}
.support a:hover {
  transform: scale(1.1);
}