*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100vh;
    background: #372948;
}


html{
    font-size: 63.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

header{
    position: relative;
    top: 0; left: 0; right: 0;
    background: #271D39;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}
.logo{
    position: absolute;
    top: 0; left: 0; right: 0;
    background: #271D39;
    display: block;
    width: 364px;
    height: 82px;
}
.navg{
    position: absolute;
    top: 0; left: 363.82px; right: 0;
    height: 82px;
}
.navigation_top{
    padding: 0px 8px 0px 0px;
    height: 45%;
    box-sizing: content-box;
    background: #271D39;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}
.butt
{
    
    background-color: #FFECEF;
    padding: 2px 5px;
    border-style: none;
    border-radius: 3px;
}
.acc_icon
{
    height: 20px;
}
.button
{
    position: relative;
    display: flex;
    justify-content: right;
    gap: 10px;
}
.navigation_bottom{
    height: 55%;
    box-sizing: content-box;
    top: 0; left: 0; right: 0;
    display: block;
    background: linear-gradient(90deg, #271D39 0%, #FFECEF 70.83%);
}
.footer{
    position: relative;
    height: 45px;
    bottom: 0; left: 0; right: 0;
    background: #271D39;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    box-shadow: 0px -5px 5px rgba(0, 0, 0, .2);
}

.sliderr{
    height: 70vh;
    background: #181818;
    position: relative;
    top: 80px;
}
.whiteboard{
    height: 200vh;
    background: white;
    position: relative;
    top: 80px;
    margin: 40px;
    border-radius: 83px 83px 0px 0px;
}
.footlink{
    padding: 8px;
    color: #FFECEF;
    font-size: medium;
    text-decoration: none;
}

ul li{
    display:inline-block; 
    padding:0 7px; 
    position:relative;
}
ul li:not(:last-child)::after{
    content:""; 
    border:1px solid #e2e2e2;
    border-width: 1px 1px 0 0;
    position:absolute; 
    right:-3px; 
    top:0; 
    height:100%;
}
.navigation_bottom{
    display: flex;
}

.button-default {
    position: absolute;
    border: solid;
    display: block;
    background-color: transparent;
    color: #fff;
    font-size: 10vh;
    transform: skewX(-30deg) translateX(-50%);
    cursor: default;
}

.button-inner {
    display: block;
    transform: skewX(30deg);
}

  

